@import "../styleGuide";

.main__details {
  @include frost;
  border-radius: $radNormal;
  height: fit-content;
  padding: $paddingNormal;
  margin: $marginNormal $marginSmall;
  width: fit-content;
  flex: 0.7;

  .main__detailsText {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .main__detailsChannel {
      margin-right: 4rem;
    }

    .main__detailsTitle {
      //   background: none;
    }
  }
}
