@import "../styleGuide";

.main__details {
  @include frost;
  border-radius: $radNormal;
  height: fit-content;
  padding: $paddingNormal;
  margin: $marginNormal $marginSmall;
  width: fit-content;
  flex: 0.7;

  .main__detailsText {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .main__detailsChannel {
      position: relative;
      padding-right: 2rem;
      margin-left: $marginSmall;
      margin-right: 2rem;
      font-size: 1.8rem;
      border-right: solid white 2px;
      &::before {
        content: "";
        background: rgba(240, 240, 240, 0.384);
        width: 2.5rem;
        height: 2.5rem;
        left: -25%;
        top: 5%;
        border-radius: $radNormal;
        display: block;
        position: absolute;
        z-index: -1;
      }
    }

    .main__detailsTitle {
      //   background: none;
    }
  }
}
