@import "../styleGuide";

.main {
  @include frost;
  padding: $paddingNormal;
  display: grid;
  // place-items: center;
  min-height: 500px;
  height: 100%;
  position: relative;
  height: fit-content !important;
  border-radius: $radNormal;

  .main__underVideo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .main__underVideoTitleAndToolbar {
      display: flex;
      flex-direction: row;
    }
  }
  iframe {
    object-fit: contain;
    border-radius: $radSmall;
    border: none;
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
}

.loading {
  font-size: 1.4rem;
  color: white;
  // transform: translateY(100%);
}
