@import "../styleGuide";

.aside {
  @include frost;
  // background: pink;
  overflow: auto;
  height: 100%;
  height: fit-content;
  max-height: 800px;
  border-radius: $radNormal;
  padding: $paddingNormal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .aside__list {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @include scrollbar;
}
