@import "../styleGuide";

.aside {
  @include frost;
  // background: pink;
  height: 100%;
  border-radius: $radNormal;
  padding: $paddingNormal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
